<script src="/javascripts/jquery.autocomplete.js" type="text/javascript"></script>
<link href="/stylesheets/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

<% form_for @gameroom do |f| %>

  <p>
    <label>Gameroom Name</label>
	<span style="color:#999;font-size:11px;">(required)</span><br />
    <%= f.text_field :login, :class => "login_field" %>
  </p>

  <p>
    <label>Invite your friends by Email</label><br />
    <%= text_area_tag "invitees", nil, :class => "addresses_text_area" %><br />

	<span style="color:#999;font-size:11px;">Separate multiple email addresses with commas, ex: foo@tickrtalk.com, bar@tickrtalk.com</span>
  </p>

	<%= f.hidden_field :game_id, :value => params[:game_id] %>
  <p><%= f.submit "Submit", :class => "signup_button" %></p>
<% end %>

<% if !session[:contacts].nil? %>
	<script type="text/javascript">
	function findValue(li) {
		if( li == null ) return alert("No match!");
		if( !!li.extra ) var sValue = li.extra[0];
		else var sValue = li.selectValue;
		document.getElementById('contact').value=sValue;
	}

	$(function() {
	$("#contactinput").autocomplete(
		'/private_gamerooms/fill_contacts',
		{
			onItemSelect:findValue,
			onFindValue:findValue,
			autoFill:false
		}
	);
	});
	</script>
<% end %>