<div class="content">
	<h4>Your invitations have been sent!  <%= link_to "Go back", "/gameroom/#{@gameroom.game_id}/private_gameroom/#{@gameroom.id}?gameroom_key=#{@gameroom.gameroom_key}", :onclick => "location.reload();" %> to your gameroom.</h4>
<div>