<div class="constraint">
  <div id="about" class="home">
    <h2 class="dotted_under">Privacy Policy</h2>

    <p><strong>We have a few principles that we always follow at TickrTalk.</strong></p>
    
    <ul>
      <li>We won't ask you for personal information unless we really need it, for requirements such as payment.</li>
      <li>We don't share your personal information with anyone, except to comply with the law, develop our products and services, or protect our rights.</li>
      <li>We don't store personal information on our servers unless required for the on-going operation of our services.</li>
      <li>In our service, we aim to make it as simple as possible for you to control what's visible to the public, seen by search engines, kept private, and permanently deleted. In general, your information is kept private, unless if you choose to make it public.</li>
    </ul>
    
    <p>TickrTalk LLC ("TickrTalk") operates TickrTalk.com. It is TickrTalk's policy to respect your privacy regarding any information we may collect while operating our website.</p>

    <p><strong>Website Visitors</strong></p>
    
    <p>Like most website operators, TickrTalk collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. TickrTalk's purpose in collecting non-personally identifying information is to better understand how TickrTalk's visitors use its website. From time to time, TickrTalk may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
    
    <p>TickrTalk also collects potentially personally-identifying information like Internet Protocol (IP) addresses. TickrTalk does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>
    
    <p><strong>Gathering of Personally-Identifying Information</strong></p>
    
    <p>Certain visitors to TickrTalk's websites choose to interact with TickrTalk in ways that require TickrTalk to gather personally-identifying information. The amount and type of information that TickrTalk gathers depends on the nature of the interaction. For example, we ask visitors who sign up for a website at TickrTalk.com to provide a last name and email address. Those who engage in transactions with TickrTalk – by purchasing access to TickrTalk's premium service, for example – are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, TickrTalk collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with TickrTalk. TickrTalk does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>
    
    <p><strong>Aggregated Statistics</strong></p>
    
    <p>TickrTalk may collect statistics about the behavior of visitors to its websites. For instance, TickrTalk may monitor the most popular websites on the TickrTalk.com site. TickrTalk will not publicly display this information or provide it to others. However, TickrTalk does not disclose personally-identifying information other than as described below.</p>
    
    <p><strong>Protection of Certain Personally-Identifying Information</strong></p>
    
    <p>TickrTalk discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on TickrTalk's behalf or to provide services available at TickrTalk's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using TickrTalk's websites, you consent to the transfer of such information to them.</p>
    
    <p>TickrTalk will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, TickrTalk discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when TickrTalk believes in good faith that disclosure is reasonably necessary to protect the property or rights of TickrTalk, third parties or the public at large. If you are a registered user of an TickrTalk website and have supplied your email address, TickrTalk may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with TickrTalk and our products.</p>
    
    <p>We primarily use our product blog to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. TickrTalk takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>
    
    <p><strong>Cookies</strong></p>
    
    <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. TickrTalk uses cookies to help TickrTalk identify and track visitors, their usage of TickrTalk website, and their website access preferences. TickrTalk visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using TickrTalk's websites, with the drawback that certain features of TickrTalk's websites may not function properly without the aid of cookies.</p>

    <p><strong>Privacy Policy Changes</strong></p>
    
    <p>Although most changes are likely to be minor, TickrTalk may change its Privacy Policy from time to time, and in TickrTalk's sole discretion. TickrTalk encourages visitors to frequently check this page for any changes to its Privacy Policy. If you have a TickrTalk.com account, you should also check your website for alerts to these changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

    <p>Attribution for this privacy policy goes to the <%= link_to "Automattic Privacy Policy", "http://automattic.com/privacy/", :target => "_blank" %> Privacy Policy, which is available under the <%= link_to "Creative Commons Attribution-Share Alike 2.5 Generic License", "http://creativecommons.org/licenses/by-sa/2.5/", :target => "_blank" %>.</p> 

  </div>
</div>